{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}{{ title }} | EnfhantOrganic Admin{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'store/admin.css' %}">
{% endblock %}

{% block branding %}
<div class="eo-admin-brand">
  <img src="{% static 'store/enfant-logo-admin.png' %}" alt="Enfant Organic" class="eo-admin-logo-img">
  <span>
    <strong>Enfant Organic</strong>
    <small>Premium baby care operations</small>
  </span>
</div>
{% endblock %}
